:root {
	--bg-color: #f5f5f5;
	--text-color: #6c757d;
	--accent-color: #ffd333;
	--contrast-color: #3d464d;
}

html, body {
	height: 100%;
}

body {
	font-family: "Comfortaa", sans-serif;
	min-width: 300px;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: .9em;
}

a {
	color: var(--text-color);
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.btn, .dropdown-menu {
	border-radius: 0;
}
/*======General========*/

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main.main {
	flex: 1 1 auto;
}

/*======Header========*/

		/*===header top====*/
.header-top-phone {
	display: flex;
	align-items: center;
	height: 100%;
}

.header-top .btn {
	background-color: #fff;
}

.header-top-phone a {
	text-decoration: none;
}

.header-top-phone:hover {
	text-decoration: underline;
}


ul.social-icons {
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

ul.social-icons li {
	margin-right: 10px;
}

ul.social-icons a {
	color: var(--contrast-color);
	background-color: var(--accent-color);
	width: 31px;
	height: 31px;
	float: left;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	transition: all .3s;
}

ul.social-icons a:hover {
	color: var(--accent-color);
	background-color: var(--contrast-color);
}

.dropdown_wrapper {
	display: flex;
	justify-content: end;
}

		/*===header-middle===*/
.header-middle {
	background-color: #fff;
	padding: 20px auto;
}
/*==============*/