html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main.main {
	flex: 1 1 auto;
}

body {
	font-family: "Comfortaa", sans-serif;
	background-color: aqua;
	min-width: 300px;

}